@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap');

.all-reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 50px;
}

.review-title {
    text-align: center;
    margin-top: 10px;
    color: #494F55;
    font-family: 'Poppins', sans-serif;
    
    
    
}

@media only screen and (max-width: 668px) {
    .all-reviews {
        grid-template-columns: 1fr;
    }
}