.header-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 80px 80px;
    font-family: 'Poppins', sans-serif;

}

.header-container img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.header-container img:hover {
    transform: scale(1.1);
}

#header-title {
    color: #088a67;
}

.home-review {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.review-btn {
    display: flex;
    align-items: center;
    background-color: #088a67;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    margin: 10px;
    cursor: pointer;
}

.review-btn:hover {
    background-color: #82ca9d;

}

#arrow-icon {
    width: 22px;
    margin-left: 2px;
}

@media only screen and (max-width: 668px) {
    .header-container {
        grid-template-columns: 1fr;



    }
}